<%= turbo_frame_tag "login" do %>
<% if response.status == 422 %>
<div class="lcontainer col-5 col-xs-7 col-sm-6 col-md-5 col-lg-5 p-fixed max-4">
<% else %>
<div class="lcontainer col-5 col-xs-7 col-sm-6 col-md-5 col-lg-5 p-fixed logslide max-4">
<% end %>
<div class="ldivider"></div>
  <a onclick="rmLogin(this);return false;" class= "p-absolute btn btn-clear cross" href=""></a>
  <% if response.status == 422 %>
    <div class="toast terr c-hand p-flash" onclick="rmErr(this)">Invalid username or password.</div>
  <% end %>
  <h2 class="text-center">Log In</h2>
  <div class="column col-7 col-xs-11 col-sm-9 col-md-8 col-lg-8 col-mx-auto">
    <%= form_with url: session_path, data: { controller: "login-redir", action: "turbo:submit-end->login-redir#next" } do |form| %>
      <div class="form-group">
        <%= form.label :account, "Username or email", class: "form-label" %>
        <%= form.text_field :account, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-input" %>
      </div>

      <%= link_to "Forgot your password?", new_password_reset_path, "data-turbo-frame": "_top", class: "text-small" %>
      <div class="form-group">
        <%= form.submit "Log In", class: "btn input-group-btn lbtn fullw" %>
      </div>
    <% end %>
  </div>
</div>
<script>function rmErr(x){x.remove();};function rmLogin(x){document.querySelector("#login").classList.remove("active");x.parentElement.remove();}</script>
<% end %>
