<%= form_with(model: [@video, @video.comments.build ], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |form| %>
  <div class="column col-6 col-xs-12 p-2">
    <div class="form-group">
     <%= form.label :author, class: "form-label" %><br>
     <%= form.text_field :commenter, class: "form-input", placeholder: :"Your name" %>
    </div>
    <div class="form-group">
     <%= form.label :comment, class: "form-label" %><br>
     <%= form.text_area :body, class: "form-input", placeholder: :"Your comment" %>
    </div>
    <div class="form-group">
     <%= form.submit class: "btn btn-primary input-group-btn" %>
    </div>
  </div>
<% end %>
