<%= form_with model: [comment.video, comment], id: "comform" do |form| %>
  <% unless logged_in? %>
    <%= render "shared/form_field",
                form: form,
                field_name: :commenter,
                placeholder: "Name",
                object_for_errors: comment
    %>
  <% end %>

  <%= render layout: "shared/form_field",
             locals: {
               form: form,
               field_name: :body,
               field_type: :text_area,
               placeholder: "Comment",
               object_for_errors: comment
             } do %>
    <button type="button"
            id="emojib"
            class="btn <%= comment.errors[:body].any? ? 'btnemojierr' : 'btnemoji' %> btn-action s-circle"
            data-controller="emoji"
            data-action="emoji#show"
            onclick="setTimeout(()=>this.blur(),50)">
      <i class="form-icon icon icon-emoji"></i>
    </button>
  <% end %>

  <div class="form-group float-right">
    <%= form.submit class: "btn btn-primary input-group-btn" %>
  </div>
<% end %>