<div class="container mt-16">
  <h1 class="text-center">Sign Up</h1>
  <div class="column col-6 col-xs-12 col-sm-12 col-md-9 col-lg-7 col-mx-auto max-52">
    <%= form_with model: @user, url: registration_path do |form| %>
      <%= render "shared/form_field",
             form: form,
             field_name: :username,
             placeholder: "Username",
             success_message: "Username is valid",
             object_for_errors: @user
      %>

      <%= render "shared/form_field",
                form: form,
                field_name: :email,
                field_type: :email_field,
                placeholder: "Email",
                success_message: "Email is valid",
                object_for_errors: @user
      %>

      <%= render "shared/form_field",
                form: form,
                field_name: :password,
                field_type: :password_field,
                placeholder: "Password",
                object_for_errors: @user
      %>

      <%= render "shared/form_field",
                form: form,
                field_name: :password_confirmation,
                field_type: :password_field,
                placeholder: "Confirmation",
                object_for_errors: @user
      %>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" name="news"/>
          <i class="form-icon"></i> Send me emails with news and tips
        </label>
      </div>

      <div class="form-group">
        <%= form.submit "Sign Up", class: "btn fullw lbtn input-group-btn" %>
      </div>
    <% end %>
  </div>
</div>
