<header class="navbar p-2">
  <section class="navbar-section">
    <a href="/videos" class="navbar-brand mr-2" data-turbo="false"><b>REPOCLIP</b></a>
    <a href="https://github.com/Santonero/repoclip" target="_blank" class="btn btn-link">GitHub</a>
  </section>
  <section class="navbar-center m-1">
    <%= form_with url: "/search", method: :get, class: "fullw" do |form| %>
      <div class="input-group input-inline fullw">
        <%= form.text_field :query, class: "form-input searchboxl", placeholder: "search" %>
        <%= button_tag class: "btn searchboxr" do %><i class="icon icon-search"></i><% end %>
      </div>
    <% end %>
  </section>
  <section class="navbar-section" id="navlogo">
    <% if logged_in? %>
      <%= link_to current_user.username, edit_password_path, class: "mr-2" %>
      <%= button_to "Log Out", session_path, method: :delete, class: "btn btn-sm mr-2" %>
    <% else %>
      <%= link_to "Sign Up", new_registration_path, class: "mr-2" %>
      <%= link_to "Log In", new_session_path, class: "mr-2" %>
    <% end %>
    <%= image_tag("clipico.svg") %>
  </section>
</header>
