<div class="container">
<% if @videos.empty? %>
  <div class="hero hero-sm bg-primary break"><div class="hero-body"><h1 class="p-04">Sorry, Nothing found</h1></div></div>
    <div class="m-2"><%= image_tag("nothin.svg") %></div>
<% else %>
  <div class="hero hero-sm bg-primary slidex break"><div class="hero-body"><h1 class="p-04">Search Results</h1></div></div>
  <div class="scontainer slidex">
  <div id="grid" class="p-2">
    <%= render "grid" %>
  <% if @pagination.next_page? %>
    <%= turbo_frame_tag :pagination, loading: :lazy, src: search_path(format: :turbo_stream, query: params[:query], page: @pagination.next_page) %>
  <% end %>
  </div>
  <h6 class="p-2 text-gray"><%= pluralize(@pagination.count, "result") %></h6>
<% end %>
  <div class="mt-16"><%= link_to content_tag(:i,'',class: "icon icon-back"), videos_path, class: "btn btn-primary btn-action btn-sm tooltip tooltip-right", "data-turbo": "false", "data-tooltip": "Go Back" %></div>
  </div>
<button class="btn btn-primary btn-action btn-lg s-circle" id="up" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'});"><i class="icon icon-upward"></i></button>
</div>
<template data-controller="upward"></template>
