<% if @videos.empty? %>
  <%= render "navbar" %>
  <div class ="hero hero-sm bg-primary"><div class="hero-body"><h1 style="padding-left:7px;">Sorry, Nothing found</h1></div></div>
  <div class ="container" style="padding-top:2%;padding-bottom:2%;">
    <div class="m-2"><%= image_tag("nothin.svg") %></div>
<% else %>
  <%= render "navbar" %>
  <div class ="hero hero-sm bg-primary"><div class="hero-body"><h1 style="padding-left:7px;">Search Results</h1></div></div>
  <div class ="container" style="padding-top:2%;padding-bottom:2%;">
  <%= render "grid" %>
  <h6 class="p-2" style="color:#bcc3ce;"><%= pluralize(@videos.count, "result") %></h6>
<% end %>
  <div style="margin-top:16px;margin-bottom:9.05%;"><%= link_to content_tag(:i,'',class:"icon icon-back"), videos_path, class: "btn btn-primary btn-action btn-sm tooltip tooltip-right", "data-tooltip": "Go Back" %></div>
  </div>
<div id="copyright" class= "docs-footer container grid-lg">
  <p>
    <%= link_to "GitHub","https://github.com/Santonero/repoclip", target: "_blank", style:"color:rgb(102, 117, 140);" %> · Version 1.1
  </p>
  <p>
    Designed and built by Santonero.
  </p>
</div>
