<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= stylesheet_link_tag "https://vjs.zencdn.net/8.5.2/video-js.css" %>
  <%= javascript_import_module_tag "videojs" %>
<% end %>
<%= render "navbar" %>
<div class="container grid-xl" id="loader-container">
  <div class="loading loading-lg"></div>
</div>
<%= render @video %>
<template data-controller="play"></template>
<template data-controller="comjump"></template>
<div class="container hidden" id="comcont">
<%= turbo_frame_tag "comframe", src: video_comment_path(@video) %>
<div class="column col-9 col-xs-12 col-sm-12 col-md-11 col-lg-9 p-2" style="margin-left:1.1%;margin-bottom:16px;">
  <%= turbo_frame_tag "new_comment", src: new_video_comment_path(@video) %>
</div>
</div>
<script>
window.addEventListener('DOMContentLoaded', () => {
  document.getElementById('loader-container').style.display ="none";
  const ph = document.getElementsByClassName('placeholder');
  document.getElementById('comcont').classList.remove('hidden');
  window.setTimeout(removePlaceholder, 500);
  function removePlaceholder() {
    while(ph.length){
      ph[0].classList.remove('placeholder');
    }
  }
})
</script>
