<%# locals: (form:, field_name:, label_text: nil, field_type: :text_field, field_options: {}, object_for_errors: nil, success_message: nil, placeholder: nil) %>
<% field_options ||= {} %>
<% placeholder ||= field_name.to_s.humanize %>
<% object_for_errors ||= form.object %>
<% has_errors = object_for_errors.errors[field_name].any? %>
<% has_success = !has_errors && success_message.present? && defined?(response) && response.status == 422 %>

<div class="form-group <%= 'has-error' if has_errors %> <%= 'has-success' if has_success %>">
  <div <%= tag.attributes(id: "comarea") if field_name == :body %>>
    <%= form.label field_name, label_text, class: "form-label" %>

    <%= form.send(field_type, field_name, { class: "form-input", placeholder: placeholder }.merge(field_options)) %>

    <% if block_given? %>
      <%= yield %>
    <% end %>

    <% if has_errors %>
      <p class="form-input-hint d-inline"><%= object_for_errors.errors.full_messages_for(field_name).first %></p>
    <% elsif has_success %>
      <p class="form-input-hint d-inline"><%= success_message %></p>
    <% end %>
  </div>
</div>