<div class="container mt-16">
  <h1 class="text-center">Change Password</h1>
  <div class="column col-6 col-xs-12 col-sm-12 col-md-9 col-lg-7 col-mx-auto max-52">
    <%= form_with model: current_user, url: password_path do |form| %>
      <%= render "shared/form_field",
                form: form,
                field_name: :password,
                label_text: "New Password",
                field_type: :password_field,
                placeholder: "Password",
                object_for_errors: current_user
      %>

      <%= render "shared/form_field",
                form: form,
                field_name: :password_confirmation,
                label_text: "Password Confirmation",
                field_type: :password_field,
                placeholder: "Confirmation",
                object_for_errors: current_user
      %>

      <%= render "shared/form_field",
                form: form,
                field_name: :password_challenge,
                label_text: "Current Password",
                field_type: :password_field,
                object_for_errors: current_user
      %>

      <div class="form-group">
        <%= form.submit "Update Password", class: "btn btn-primary input-group-btn" %>
      </div>
    <% end %>
  </div>
</div>
