<!DOCTYPE html>
<html>
  <head>
    <title>Repoclip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "modal", async: true %>
    <%= yield(:head) %>
    <link rel="icon" href="data:,">
  </head>

  <body class="d-flex">
    <% if notice %>
      <div class="toast toast-success c-hand text-center p-fixed" onclick="rmflash(this)"><button class="btn btn-clear float-right"></button><span class="p-flash"><%= notice.html_safe %></span></div>
    <% end %>
    <% if alert %>
      <div class="toast toast-error c-hand text-center p-fixed" onclick="rmflash(this)"><button class="btn btn-clear float-right"></button><span class="p-flash"><%= alert.html_safe %></span></div>
    <% end %>
    <%= render "videos/navbar" %>
    <%= yield %>
    <% if action_name == "show" %>
    <footer class="docs-footer hidden">
    <% else %>
    <footer class="docs-footer">
    <% end %>
      <p><%= link_to "GitHub","https://github.com/santonero/repoclip", class: "br-2", target: "_blank" %> · Version 2.1</p>
      <p>Designed and built by santonero.</p>
    </footer>
    <script>function rmflash(o){document.body.removeChild(o)}</script>
  </body>
</html>
